<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="200020" id="com.sydneytrainwalks.ios" version="2.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Train Walks</name>
    <description>
		Easy nature walks around Sydney using the train, bus and ferry.
	</description>
    <author email="maurice@sydneytrainwalks.com" href="http://www.sydneytrainwalks.com">
		Maurice van Creij
	</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/mipmap-ldpi/ic_launcher.png" />
        <icon density="mdpi" src="res/mipmap-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="res/mipmap-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="res/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="res/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/mipmap-xxxhdpi/ic_launcher.png" />
        <preference name="HeaderColor" value="#ffffff" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" />
        </edit-config>
        <resource-file src="res/drawable/ic_launcher_background.xml" target="app/src/main/res/drawable/ic_launcher_background.xml" />
        <resource-file src="res/drawable/ic_launcher_foreground.xml" target="app/src/main/res/drawable/ic_launcher_foreground.xml" />
        <resource-file src="res/mipmap-anydpi-v26/ic_launcher.xml" target="app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml" />
        <resource-file src="res/mipmap-anydpi-v26/ic_launcher_round.xml" target="app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml" />
        <resource-file src="res/mipmap-ldpi/ic_launcher.png" target="app/src/main/res/mipmap-ldpi/ic_launcher.png" />
        <resource-file src="res/mipmap-ldpi/ic_launcher_round.png" target="app/src/main/res/mipmap-ldpi/ic_launcher_round.png" />
        <resource-file src="res/mipmap-hdpi/ic_launcher.png" target="app/src/main/res/mipmap-hdpi/ic_launcher.png" />
        <resource-file src="res/mipmap-hdpi/ic_launcher_round.png" target="app/src/main/res/mipmap-hdpi/ic_launcher_round.png" />
        <resource-file src="res/mipmap-mdpi/ic_launcher.png" target="app/src/main/res/mipmap-mdpi/ic_launcher.png" />
        <resource-file src="res/mipmap-mdpi/ic_launcher_round.png" target="app/src/main/res/mipmap-mdpi/ic_launcher_round.png" />
        <resource-file src="res/mipmap-xhdpi/ic_launcher.png" target="app/src/main/res/mipmap-xhdpi/ic_launcher.png" />
        <resource-file src="res/mipmap-xhdpi/ic_launcher_round.png" target="app/src/main/res/mipmap-xhdpi/ic_launcher_round.png" />
        <resource-file src="res/mipmap-xxhdpi/ic_launcher.png" target="app/src/main/res/mipmap-xxhdpi/ic_launcher.png" />
        <resource-file src="res/mipmap-xxhdpi/ic_launcher_round.png" target="app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png" />
        <resource-file src="res/mipmap-xxxhdpi/ic_launcher.png" target="app/src/main/res/mipmap-xxxhdpi/ic_launcher.png" />
        <resource-file src="res/mipmap-xxxhdpi/ic_launcher_round.png" target="app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="assets/icons/icon-180.png" width="180" />
        <icon height="60" src="assets/icons/icon-60.png" width="60" />
        <icon height="120" src="assets/icons/icon-120.png" width="120" />
        <icon height="76" src="assets/icons/icon-76.png" width="76" />
        <icon height="152" src="assets/icons/icon-152.png" width="152" />
        <icon height="40" src="assets/icons/icon-40.png" width="40" />
        <icon height="80" src="assets/icons/icon-80.png" width="80" />
        <icon height="57" src="assets/icons/icon-57.png" width="57" />
        <icon height="114" src="assets/icons/icon-114.png" width="114" />
        <icon height="72" src="assets/icons/icon-72.png" width="72" />
        <icon height="144" src="assets/icons/icon-144.png" width="144" />
        <icon height="167" src="assets/icons/icon-167.png" width="167" />
        <icon height="29" src="assets/icons/icon-29.png" width="29" />
        <icon height="58" src="assets/icons/icon-58.png" width="58" />
        <icon height="50" src="assets/icons/icon-50.png" width="50" />
        <icon height="100" src="assets/icons/icon-100.png" width="100" />
        <icon height="167" src="assets/icons/icon-167.png" width="167" />
    </platform>
    <plugin name="cordova-plugin-console" spec="^1.1.0" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-headercolor" spec="^1.0.0" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="android" spec="^7.1.0" />
</widget>
