.guide-zoom {
	position: absolute;
	left: 0;
	top: 8.666666666666667rem;
	right: 0;
	bottom: 4.666666666666667rem;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0;
	z-index: 6;
	overflow: hidden;
	transition: opacity ease 500ms;
	opacity: 1;
}

.guide-zoom .guide-zoom-controls {
	position: absolute;
	right: 1rem;
	top: 1rem;
	z-index: 2;
}

.guide-zoom.guide-zoom-hidden {
	opacity: 0;
	visibility: hidden;
}

.guide-zoom .guide-zoom-controls button {
	color: white;
	margin: 0 0 0 1rem;
	border: none;
	overflow: hidden;
	white-space: nowrap;
	width: 3rem;
	height: 3rem;
	padding: 0.25rem;
	background-color: #0D47A1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-size: 2rem auto;
	text-indent: 4rem;
}

.guide-zoom .guide-zoom-close {
	background-image: url("../icons/delete_inv.svg");
}

.guide-zoom .guide-zoom-locate {
	background-image: url("../icons/map_1_inv.svg");
}

.guide-zoom .guide-zoom-stage {
	width: 100%;
	height: 100%;
	position: relative;
}

@media (min-width:1024px) {
	.guide-zoom {
		left: 50%;
	}
	.guide-zoom .guide-zoom-locate {
		display: none;
	}
}
