.guide-gallery {
	position: absolute;
  top: 4rem;
  right: 0;
  bottom: 4rem;
  left: 0;
  background-color: #fff;
	transform: translate(100%, 0%);
	transition: transform ease 300ms;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	padding: 2rem;
}

.guide-view-gallery .guide-gallery {
	transform: translate(0%, 0%);
}
