.guide-gallery {
	position: absolute;
	top: 8.666666666666667rem;
	right: 0;
	bottom: 4.666666666666667rem;
	left: 0;
	background-color: #fff;
	transform: translate(100%, 0%);
	transition: transform ease 300ms;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	padding: 0;
	z-index: 4;
}

.guide-view-gallery .guide-gallery {
	transform: translate(0%, 0%);
}

.guide-gallery figcaption {
	display: none;
}

.guide-gallery ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.guide-gallery ul li {
	display: inline-block;
	flex: 1 1 auto;
	background-size: cover;
	background-position: center;
	border: solid 1px #fff;
}

.guide-gallery ul li a {
	display: block;
}

.guide-gallery ul li a img {
	vertical-align: top;
	visibility: hidden;
	height: 96px;
	width: auto;
}

@media (min-width:768px) {
	.guide-gallery ul li {
		max-width: 50%;
	}
}

@media (min-width:1024px) {
	.guide-gallery {
		left: 50%;
		transform: translate(100%, 0%);
	}
}
