.guide-overview {
	position: absolute;
	top: 4.666666666666667rem;
	right: 0;
	bottom: 4.666666666666667rem;
	left: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background-color: #fff;
	transform: translate(100%, 0%);
	transition: transform ease 300ms;
	margin: 0;
	padding: 0;
}

.guide-view-overview .guide-overview {
	transform: translate(0%, 0%);
}

.guide-overview .leaflet-container {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

@media (min-width:640px) {
	.guide-overview {
		right: 50%;
		transform: translate(-100%, 0%);
		top: 8.666666666666667rem;
	}
	.guide-view-home .guide-overview,
	.guide-view-overview .guide-overview {
		transform: translate(0%, 0%);
	}
}
