.guide-details {
	position: absolute;
	top: 8.666666666666667rem;
	right: 0;
	bottom: 4.666666666666667rem;
	left: 0;
	background-color: #fff;
	transform: translate(100%, 0%);
	transition: transform ease 300ms;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	padding: 2rem;
	z-index: 2;
}

.guide-view-details .guide-details {
	transform: translate(0%, 0%);
}

.guide-details p {}

.guide-details p a {}

.guide-details p a img {}

.guide-details .guide-landmark,
.guide-details .guide-optional,
.guide-details .guide-detour,
.guide-details .guide-attention {
	display: flex;
	align-items: center;
}

.guide-details .guide-landmark:after,
.guide-details .guide-optional:after,
.guide-details .guide-detour:after,
.guide-details .guide-attention:after {
	content: '';
	display: table;
	clear: both;
}

.guide-details .guide-optional {
	background-color: #DCEDC8;
	padding: 2rem;
}

.guide-details .guide-detour {
	background-color: #FFCDD2;
	padding: 2rem;
}

.guide-details .guide-attention {
	background-color: #FFF9C4;
	padding: 2rem;
}

.guide-details .guide-text {
	flex: 0 1 auto;
	padding: 0 0 0 2rem;
}

.guide-details .guide-text textarea {
	border: solid 1px #ccc;
	min-height: 8rem;
	width: 100%;
}

.guide-details .guide-thumbnail {
	flex: 0 1 auto;
	display: inline-block;
	width: 12rem;
	min-width: 12rem;
	height: 8rem;
	position: relative;
	background-size: cover;
	background-position: center;
}

.guide-details .guide-thumbnail:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.guide-details .guide-thumbnail img {
	vertical-align: top;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media (min-width:1024px) {
	.guide-details {
		left: 50%;
		transform: translate(100%, 0%);
	}
	.guide-view-map .guide-details {
		transform: translate(0%, 0%);
	}
}
